@model dmp.Models.RssFeed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RssFeed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>

<form>
    <input class="datefield" data-val="true" data-val-required="Date is required"
           id="From" name="From" type="date" value="1/11/1989" />
    <input class="datefield" data-val="true" data-val-required="Date is required"
           id="To" name="To" type="date" value="1/11/1989" />
    <input type="submit" value="Filter" class="btn btn-primary" />
</form>

<table class="table">
<thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Date
        </th>
        <th>
            Link
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Date
            </td>
            <td>
                    <a href=@item.Url>Link</a>
            </td>
        </tr>
    }
</tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
